@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cassette | Documentation";
    ViewBag.Section = "documentation";
    Bundles.Reference("assets/scripts/disqus", "body");
}
<div class="main">
    <div id="documentationheader">Documentation</div>
    <div class="content documentation">
       
        <div class="tree">
            <ul>
                <li>
                    @DocLink("", "Index")
                </li>
                <li>
                    @DocLink("getting-started", "Getting Started")
                    <ul>
                        <li>@DocLink("getting-started/assets-and-bundles", "Assets and Bundles")</li>
                        <li>@DocLink("getting-started/mvc", "Using Cassette in MVC")</li>
                        <li>@DocLink("getting-started/webforms", "Using Cassette in WebForms")</li>
                    </ul>
                </li>
                <li>
                    @DocLink("configuration", "Configuration")
                    <ul>
                        <li>@DocLink("configuration/add-directory", "Add Directory")</li>
                        <li>@DocLink("configuration/add-per-sub-directory", "Add Per Sub-Directory")</li>
                        <li>@DocLink("configuration/bundle-descriptor-file", "Bundle descriptor file")</li>
                    </ul>
                </li>
                <li>
                    @DocLink("AssetReferences", "Asset References")
                </li>
                <li>
                    @DocLink("BundlesHelper", "Bundles Helper")
                </li>
                <li>
                    @DocLink("scripts", "Scripts")
                    <ul>
                        <li>@DocLink("scripts/external", "External")</li>
                        <li>@DocLink("scripts/coffeescript", "CoffeeScript")</li>
                    </ul>
                </li>
                <li>
                    @DocLink("stylesheets", "Stylesheets")
                    <ul>
                        <li>@DocLink("stylesheets/less", "LESS")</li>
                        <li>@DocLink("stylesheets/data-uris", "Data-URIs")</li>
                    </ul>
                </li>
                <li>
                    @DocLink("html-templates", "HTML Templates")
                    <ul>
                        <li>@DocLink("html-templates/jquery-tmpl", "jQuery-tmpl Compilation")</li>
                        <li>@DocLink("html-templates/knockoutjs-jquery-tmpl", "KnockoutJS")</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="item">
            @RenderBody()
            @if (!Request.IsLocal)
            {
            <div id="disqus_thread"></div>
            }
        </div>
    </div>
</div>
@helper DocLink(string path, string text)
    {
    if (Request.Url.AbsolutePath.EndsWith("documentation/" + path))
    {
    <a class="activedoc" href=@Url.DocumentationUrl(path)>@text</a>
    }
    else
    {
    <a href=@Url.DocumentationUrl(path)>@text</a>
    }
}