@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cassette Documentation";
}
@functions {
    string Doc(string path)
    {
        return Url.RouteUrl("Documentation", new { path });
    }
}
<div class="main">
    <div class="content documentation">
        <div class="item">
            @RenderBody()
        </div>
        <div class="tree">
            <h2>Documentation</h2>
            <ul>
                <li>
                    <a href="@Doc("")">Getting Started</a>
                    <ul>
                        <li><a href="@Doc("getting-started/assets-and-modules")">Assets and Modules</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Doc("configuration")">Configuration</a>
                    <ul>
                        <li><a href="@Doc("configuration/module-sources")">Module Sources</a></li>
                        <li><a href="@Doc("configuration/persubdirectorysource")">PerSubDirectorySource</a></li>
                        <li><a href="@Doc("configuration/directorysource")">DirectorySource</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Doc("scripts")">Scripts</a>
                    <ul>
                        <li><a href="@Doc("scripts/external-modules")">External Modules</a></li>
                        <li><a href="@Doc("scripts/coffeescript")">CoffeeScript</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Doc("stylesheets")">Stylesheets</a>
                    <ul>
                        <li><a href="@Doc("stylesheets/less")">LESS</a></li>
                        <li><a href="@Doc("stylesheets/data-uris")">Data-URIs</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Doc("html-templates")">HTML Templates</a>
                    <ul>
                        <li><a href="@Doc("html-templates/compilation")">Server-side compilation</a></li>
                        <li><a href="@Doc("html-templates/knockoutjs")">KnockoutJS</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Doc("advanced")">Advanced</a>
                    <ul>
                        <li><a href="@Doc("advanced/manual-module-definition")">Custom module definitions</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>