@{
    Assets.Stylesheets.Reference("assets/styles");
    Assets.Scripts.Reference("http://platform.twitter.com/widgets.js", "body");
    Assets.Scripts.Reference("https://apis.google.com/js/plusone.js", "body");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Assets.Stylesheets.Render()
</head>
<body>
    <div class="top">
        <div class="wrap">
            <a class="logo" href="@Url.RouteUrl("Home")">Cassette</a>
            <ul class="links">
                <li>
                    <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://getcassette.net/" data-text="Automagic asset management for .NET web apps" data-count="none" data-via="getcassette" data-related="andrewdavey">Tweet</a>
                </li>
                <li>
                    <g:plusone size="medium" count="false" href="http://getcassette.net/"></g:plusone>
                </li>
                <li>
                    <a href="@Url.RouteUrl("Home")">Home</a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("Download")">Download</a>
                </li>
                <li>
                    <a href="https://github.com/andrewdavey/cassette">Open Source</a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("Contact")">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    @RenderBody()
    @Assets.Scripts.Render("body")
</body>
</html>