@{
    Bundles.Reference("assets/styles");
    Bundles.Reference("http://platform.twitter.com/widgets.js", "body");
    Bundles.Reference("https://apis.google.com/js/plusone.js", "body");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content=".net asset management, asp.net, developer tools, web development" />
    <meta name="description" content="@ViewBag.Description" />
    <title>@ViewBag.Title</title>
    @Bundles.RenderStylesheets()
</head>
<body>
    <div class="topwrap">
        <div class="top">
        <div class="wrap">
            <a class="logo" href="@Url.RouteUrl("Home")"></a>
            <ul class="links">
            
                <li id="tweet">
                    <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://getcassette.net/" data-text="Automagic asset bundling for .NET web apps" data-count="none" data-via="getcassette" data-related="andrewdavey">Tweet</a>
                </li>
                <li id="g1">
                    <g:plusone size="medium" count="false" href="http://getcassette.net/"></g:plusone>
                </li>
     
                <li>
                    <a @ActiveClassIf("home") href="@Url.RouteUrl("Home")">Home</a>
                </li>
                <li>
                    <a @ActiveClassIf("download") href="@Url.RouteUrl("Download")">Download</a>
                </li>
                <li>
                    <a @ActiveClassIf("licensing") href="@Url.Action("index", "licensing")">Licensing</a>
                </li>
                <li>
                    <a @ActiveClassIf("documentation") href="@Url.RouteUrl("Documentation", new { path = "" })">Documentation</a>
                </li>
                <li>
                    <a @ActiveClassIf("faqs") href="@Url.RouteUrl("FAQs")">FAQs</a>
                </li>
                <li>
                    <a @ActiveClassIf("contact") href="@Url.RouteUrl("Contact")">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    </div>

    @RenderBody()

    <div class="footer">
        <p><a target="_blank" id="twittericon" href="http://twitter.com/getcassette"></a></p>
        <p>&#169; 2011 <a target="_blank" href="http://www.aboutcode.net">Andrew Davey</a> &#183; Cassette is distributed by <a href="http://www.equin.co.uk">Equin Ltd</a></p>
        <p>Icons from <a href="http://symb.ly/">Symb.ly</a></p>    
    </div>
    @Bundles.RenderScripts("body")
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-25354265-1']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
@helper ActiveClassIf(string section) {
    if (ViewBag.Section == section)
    {
        @:class="active"
    }
}