@{
    Bundles.Reference("assets/styles");
    Bundles.Reference("assets/iestyles");
    Bundles.Reference("http://platform.twitter.com/widgets.js");
    Bundles.Reference("https://apis.google.com/js/plusone.js");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content=".net asset management, asp.net, developer tools, web development, asset bundling, .net software" />
    <meta name="description" content="@ViewBag.Description" />
    <title>@ViewBag.Title</title>
    @Bundles.RenderStylesheets()
    <link href="https://plus.google.com/113762544776018463237/" rel="publisher" />
</head>
<body class="@ViewBag.Section">
    <div class="top">
        <div class="top-wrap">
                <div class="logo">
                    <a @ActiveClassIf("home") href="@Url.RouteUrl("Home")"></a>
                </div>
                <ul class="links">
                    <li @ActiveClassIf("benefits")>
                        <a id="benefits-link" href="@Url.RouteUrl("Benefits")">Benefits</a>
                    </li>
                    <li @ActiveClassIf("download")>
                        <a id="download-link" href="@Url.RouteUrl("Download")">Download</a>
                    </li>
                    <li @ActiveClassIf("documentation")>
                        <a id="docs-link" href="@Url.RouteUrl("Documentation", new { path = "", version = "v2" })">Docs</a>
                    </li>
                    <li @ActiveClassIf("support")>
                        <a id="support-link" href="@Url.RouteUrl("Support")">Support</a>
                    </li>
                    <li @ActiveClassIf("donate")>
                        <a id="donate-link" href="@Url.RouteUrl("Donate")">Donate</a>
                    </li>
                </ul>
        </div>
    </div>

    @RenderBody()

    <div class="footer">
        <p class="footer-navigation"><a href="@Url.RouteUrl("Donate")">Donate</a>|<a href="@Url.RouteUrl("Contact")">Contact</a></p>
        <a title="MIT Licensed" class="osi" href="@Url.RouteUrl("Licensing")"></a>
        <p>&#169; 2012 <a href="http://www.aboutcode.net" target="_blank">Andrew Davey</a> &#183; Website design by <a href="http://twitter.com/pixelistUK" target="_blank">&#64;pixelistUK</a></p>
        <p class="credits">Icons from <a href="http://symb.ly/" target="_blank">Symb.ly</a>, <a href="http://vervex.deviantart.com/art/Somicro-27-Social-Media-Icons-257232757" target="_blank">Somicro</a> &#38; <a href="http://www.uiparade.com/ui-toolkit/" target="_blank">The UI Toolkit</a> 
            &#183; Patterns from <a href="http://subtlepatterns.com" target="_blank">Subtle Patterns</a></p>
        <p><a href="http://appharbor.com">Powered by AppHarbor - .NET cloud application platform</a></p>
        <div class="connect">
            <p><em>Connect with us:</em></p>
            <ul>
                <li><a title="Chat to us on Google Groups" target="_blank" class="connectlink googlegroups" href="http://groups.google.com/group/cassette"></a></li>
                <li><a title="Follow us on Twitter" target="_blank" class="connectlink twitter" href="http://twitter.com/#!/getcassette"></a></li>
            </ul>
        </div>
    </div>

    @Bundles.RenderScripts()
    
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-25354265-1']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

</body>
</html>
@helper ActiveClassIf(string section) {
    if (ViewBag.Section == section)
    {
        // HACK: Not using Razor's <text> syntax because it results in extra unwanted whitespace!
        @Html.Raw("class=\"active\"")
    }
}