@{
    Bundles.Reference("assets/styles");
    Bundles.Reference("http://platform.twitter.com/widgets.js", "body");
    Bundles.Reference("https://apis.google.com/js/plusone.js", "body");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Bundles.RenderStylesheets()
</head>
<body>
    <div class="top">
        <div class="wrap">
            <a class="logo" href="@Url.RouteUrl("Home")">Cassette</a>
            <ul class="links">
                <li>
                    <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://getcassette.net/" data-text="Automagic asset management for .NET web apps" data-count="none" data-via="getcassette" data-related="andrewdavey">Tweet</a>
                </li>
                <li>
                    <g:plusone size="medium" count="false" href="http://getcassette.net/"></g:plusone>
                </li>
                <li>
                    <a href="@Url.RouteUrl("Home")">Home</a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("Download")">Download</a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("Documentation")">Documentation</a>
                </li>
                <li>
                    <a href="@Url.Action("index", "licensing")">Licensing</a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("Contact")">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    @RenderBody()
    @Bundles.RenderScripts("body")

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-25354265-1']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>