@{
    ViewBag.Description = "Cassette automatically sorts, concatenates, minifies, caches and versions all your JavaScript, CoffeeScript, CSS, LESS and HTML templates to help you manage your client-side code.";
    ViewBag.Title = "Cassette | Asset bundling for .NET web apps";
    ViewBag.Section = "home";
    Bundles.Reference("assets/scripts/home", "body");
    Bundles.Reference("~/assets/scripts/jquery/jquery.js", "body");
}
<div class="banner">
        <div class="favtweets">
            <h2><img src="../../assets/styles/images/whitetwittericon.png" />Twitter Love</h2>
            <div class="tweets">
                <p class="tweet">&#8220;man, <a href="http://twitter.com/#!/getcassette" target="_blank">&#64;getcassette</a>, please don't be too good to 
                    be true, you look so wonderful&#8221;</p>
                <p class="tweeter">via <a href="http://www.twitter.com/mmurch" target="_blank">&#64;mmurch</a></p>
                <p class="tweet">&#8220;IMO if you're using <a href="http://www.asp.net/" target="_blank">ASP.NET</a> MVC without 
                    <a href="http://twitter.com/#!/getcassette" target="_blank">&#64;getcassette</a> then you're doing it wrong.&#8221;</p>
                <p class="tweeter">via <a href="http://www.twitter.com/stucampbell" target="_blank">&#64;stucampbell</a></p>
            </div>
            <div class="tweets" style="display: none;">
                <p class="tweet">&#8220;<a href="http://twitter.com/#!/getcassette" target="_blank">&#64;getcassette</a> goes v1.0 and totally MIT license. 
                    Now you have no excuse not to use it in every project. &#35;dotnet &#35;nuget &#35;ballin &#8221;</p>
                <p class="tweeter">via <a href="http://www.twitter.com/kamranayub" target="_blank">&#64;kamranayub</a></p>
                <p class="tweet">&#8220; <a href="http://www.twitter.com/derickbailey" target="_blank">&#64;derickbailey</a> 
                    <a href="http://www.twitter.com/JustinEtheredge" target="_blank">&#64;JustinEtheredge</a> we use 
                    <a href="http://www.twitter.com/getcassette" target="_blank">&#64;getcassette</a> in every one of our projects now. 
                    Great development story. &#8221;</p>
                <p class="tweeter">via <a href="http://www.twitter.com/dotnetchris" target="_blank">dotnetchris</a></p>
            </div>
            <div class="tweets" style="display: none;">
                <p class="tweet">&#8220;Excellent! Automagic asset (scripts, CSS, Less, CoffeeScript) management for .NET web apps getcassette.net via &#64;getcassette&#8221;</p>
                <p class="tweeter">via <a href="http://www.twitter.com/shanselman">shanselman</a></p>
                <p class="tweet">&#8220;Tested &#64;getcassette and very impressed so far. Get the docs finished and it's nearly perfect. Should be bundled with ASP.NET!&#8221;</p>
                <p class="tweeter">via <a href="http://www.twitter.com/kfuglsang">kfuglsang</a></p>
            </div>
            <div class="tweets" style="display: none;">
                <p class="tweet">&#8220;After a little configuration and with help from its owner &#64;andrewdavey Cassette is working extremely well! #minification #css #javascript&#8221;</p>
                <p class="tweeter">via <a href="http://www.twitter.com/fransstridh">fransstridh</a></p>
                <p class="tweet">&#8220;Nice naming of &#64;getcassette with "asset" --> "cASSETte" #clever&#8221;</p>
                <p class="tweeter">via <a href="http://www.twitter.com/jeffhandley">JeffHandley</a></p>
            </div>
        </div>
        <h1>Asset bundling for .NET web apps</h1>
        <div class="intro">
            <p>Dumping your scripts into a folder is no way to manage your client-side code!</p>
            <p>Cassette automatically sorts, concatenates, minifies, caches and versions all your JavaScript, CoffeeScript, CSS, LESS and HTML templates.</p>
            <p>It's flexible, extensible and optimized for developer happiness.</p>
            <p class="last"><a class="action" href="@Url.RouteUrl("Download")">Download Now &#187;</a> Or read on to see Cassette in action...</p>
        </div>
</div>

<div class="home-main">

    <div class="section">
        <div class="file-details">
            <h2>Easy to use</h2>
            <p>Cassette's <code>Bundles</code> helper works in view pages, layouts and partials.</p>
            <p>Reference the scripts you directly require.</p>
            <p>Tell Cassette where to render the <code>&lt;script&gt;</code> tags.</p>
            <p class="minor"><a href="@Url.DocumentationUrl("stylesheets")">Stylesheets</a> and <a href="@Url.RouteUrl("Documentation", new { path = "html-templates" })">HTML Templates</a> are also supported</p>
        </div>
        <div class="file">
            <pre><code><span class="code-tag">@@{</span>
  <span class="code-type">Bundles</span>.Reference(<span class="string">"Scripts/app/page.js"</span>);
<span class="code-tag">}</span>
<span class="open-tag">&lt;!</span><span class="tag">DOCTYPE</span> <span class="attribute">html</span><span class="close-tag">&gt;</span>
<span class="open-tag">&lt;</span><span class="tag">html</span><span class="close-tag">&gt;</span>
<span class="open-tag">&lt;</span><span class="tag">head</span><span class="close-tag">&gt;</span>
  <span class="open-tag">&lt;</span><span class="tag">title</span><span class="close-tag">&gt;</span>Web App<span class="open-tag">&lt;/</span><span class="tag">title</span><span class="close-tag">&gt;</span>
  <span class="code-tag">@@</span><span class="razor-expression"><span class="code-type">Bundles</span>.RenderScripts()</span>
<span class="open-tag">&lt;/</span><span class="tag">head</span><span class="close-tag">&gt;</span>
<span class="open-tag">&lt;</span><span class="tag">body</span><span class="close-tag">&gt;</span>
  ...
<span class="open-tag">&lt;/</span><span class="tag">body</span><span class="close-tag">&gt;</span>
<span class="open-tag">&lt;/</span><span class="tag">html</span><span class="close-tag">&gt;</span></code></pre>

        </div>
    </div>

    <div class="section">
        <div class="file-details">
            <h2>Debug runtime output</h2>
            <p>When <strong><code>debug="true"</code></strong> in Web.config:</p>
            <ul>
                <li>Cassette detects <a href="@Url.DocumentationUrl("scripts")">file references</a>.</li>
                <li>All the required scripts are included in the correct order.</li>
                <li>The hash of each file is append to each URL as a "cache-breaker".</li>
            </ul>
            <p class="minor">The SHA-1 hash is used. The output here has been shortened to fit on screen.</p>
        </div>
        <div class="file">
            <pre><code><span class="open-tag">&lt;!</span><span class="tag">DOCTYPE</span> <span class="attribute">html</span><span class="close-tag">&gt;</span>
<span class="open-tag">&lt;</span><span class="tag">html</span><span class="close-tag">&gt;</span>
<span class="open-tag">&lt;</span><span class="tag">head</span><span class="close-tag">&gt;</span>
  <span class="open-tag">&lt;</span><span class="tag">title</span><span class="close-tag">&gt;</span>Web App<span class="open-tag">&lt;/</span><span class="tag">title</span><span class="close-tag">&gt;</span>
  <span class="open-tag">&lt;</span><span class="tag">script</span> <span class="attribute">src</span><span class="attribute-value">="/Scripts/lib/jquery.js?a4babad4b"</span> <span class="attribute">type</span><span class="attribute-value">="text/javascript"</span><span class="close-tag">&gt;</span><span class="open-tag">&lt;/</span><span class="tag">script</span><span class="close-tag">&gt;</span>
  <span class="open-tag">&lt;</span><span class="tag">script</span> <span class="attribute">src</span><span class="attribute-value">="/Scripts/lib/jquery-ui.js?53dd39212"</span> <span class="attribute">type</span><span class="attribute-value">="text/javascript"</span><span class="close-tag">&gt;</span><span class="open-tag">&lt;/</span><span class="tag">script</span><span class="close-tag">&gt;</span>
  <span class="open-tag">&lt;</span><span class="tag">script</span> <span class="attribute">src</span><span class="attribute-value">="/Scripts/app/tools.js?4d03ae0b"</span> <span class="attribute">type</span><span class="attribute-value">="text/javascript"</span><span class="close-tag">&gt;</span><span class="open-tag">&lt;/</span><span class="tag">script</span><span class="close-tag">&gt;</span>
  <span class="open-tag">&lt;</span><span class="tag">script</span> <span class="attribute">src</span><span class="attribute-value">="/Scripts/app/widgets.js?cf319fe0b"</span> <span class="attribute">type</span><span class="attribute-value">="text/javascript"</span><span class="close-tag">&gt;</span><span class="open-tag">&lt;/</span><span class="tag">script</span><span class="close-tag">&gt;</span>
  <span class="open-tag">&lt;</span><span class="tag">script</span> <span class="attribute">src</span><span class="attribute-value">="/Scripts/app/page.js?485f05e21"</span> <span class="attribute">type</span><span class="attribute-value">="text/javascript"</span><span class="close-tag">&gt;</span><span class="open-tag">&lt;/</span><span class="tag">script</span><span class="close-tag">&gt;</span>
<span class="open-tag">&lt;/</span><span class="tag">head</span><span class="close-tag">&gt;</span>
<span class="open-tag">&lt;</span><span class="tag">body</span><span class="close-tag">&gt;</span>
  ...
<span class="open-tag">&lt;/</span><span class="tag">body</span><span class="close-tag">&gt;</span>
<span class="open-tag">&lt;/</span><span class="tag">html</span><span class="close-tag">&gt;</span></code></pre>
        </div>
    </div>

    <div class="section">
        <div class="file-details">
            <h2>Production runtime output</h2>
            <p>With a single change to Web.config, <strong><code>debug="false"</code></strong>, Cassette switches into high performance mode.</p>
            <ul>
                <li>Cassette <em>concatenates</em> and <em>minifies</em> the scripts into "bundles".</li>
                <li>HTTP output is <em>compressed</em>.</li>
                <li>Aggressive cache headers are sent. So browsers download each bundle only once.</li>
                <li>Hash included in the URL. So new versions have different URLs.</li>
            </ul>
        </div>
        <div class="file">
            <pre><code><span class="open-tag">&lt;!</span><span class="tag">DOCTYPE</span> <span class="attribute">html</span><span class="close-tag">&gt;</span>
<span class="open-tag">&lt;</span><span class="tag">html</span><span class="close-tag">&gt;</span>
<span class="open-tag">&lt;</span><span class="tag">head</span><span class="close-tag">&gt;</span>
  <span class="open-tag">&lt;</span><span class="tag">title</span><span class="close-tag">&gt;</span>Web App<span class="open-tag">&lt;/</span><span class="tag">title</span><span class="close-tag">&gt;</span>
  <span class="open-tag">&lt;</span><span class="tag">script</span> <span class="attribute">src</span><span class="attribute-value">="/_assets/scripts/Scripts/lib_4bad47afb"</span> <span class="attribute">type</span><span class="attribute-value">="text/javascript"</span><span class="close-tag">&gt;</span><span class="open-tag">&lt;/</span><span class="tag">script</span><span class="close-tag">&gt;</span>
  <span class="open-tag">&lt;</span><span class="tag">script</span> <span class="attribute">src</span><span class="attribute-value">="/_assets/scripts/Scripts/app_b7c29fecc"</span> <span class="attribute">type</span><span class="attribute-value">="text/javascript"</span><span class="close-tag">&gt;</span><span class="open-tag">&lt;/</span><span class="tag">script</span><span class="close-tag">&gt;</span>
<span class="open-tag">&lt;/</span><span class="tag">head</span><span class="close-tag">&gt;</span>
<span class="open-tag">&lt;</span><span class="tag">body</span><span class="close-tag">&gt;</span>
  ...
<span class="open-tag">&lt;/</span><span class="tag">body</span><span class="close-tag">&gt;</span>
<span class="open-tag">&lt;/</span><span class="tag">html</span><span class="close-tag">&gt;</span></code></pre>
        </div>
    </div>

    <div class="section">
        <div class="more">
            <h2>So much more...</h2>
            <p>This introduction has only scratched the surface of what Cassette can do.</p>
            <ul>
                <li>CoffeeScript is built-in. Just add <code>.coffee</code> files to your project and Cassette will compile them.</li>
                <li>LESS files are automatically compiled into CSS.</li>
                <li>Cassette has an extensible "asset pipeline". Learn how to extend and customize asset processing.</li>
            </ul>
            <p>
                <strong>Get Cassette!</strong> It's free, open source software, distributed under the 
                <a href="@Url.RouteUrl("Licensing")">MIT License</a>.
            </p>
            <p class="last">
                <a class="action" href="@Url.RouteUrl("Download")">Download Now &#187;</a>
                ...and please spread the word:
                <span style="position: relative; top: 5px;">
                    <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://getcassette.net/" data-text="Automagic asset bundling for .NET web apps" data-count="none" data-via="getcassette" data-related="andrewdavey">Tweet</a>
                    <g:plusone size="medium" count="false" href="http://getcassette.net/"></g:plusone>
                </span>
            </p>
        </div>
    </div>
</div>