@{
    Html.ReferenceStylesheet("styles/app/site.css");
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Html.RenderStylesheetLinks()
    @Html.RenderScripts()
</head>
<body>
    @RenderBody()

    @* Some scripts progressively enhance the page and are non-essential, 
       so we can delay loading them until the end of the page. *@
    @Html.RenderScripts("body")
</body>
</html>